/* #3498db */
/* #f1c40f */

p {
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: 2px solid #2c3e50;
}

/* Video 014 */
/* .move-right{
    background-color: #3498db;
    transform: translateX(100px);
}

.move-down{
    background-color: #f1c40f;
    transform: translateY(20px);
}

p:hover{
    transform: translate(20px, 20px);
} */



.transformed {
    /* background-color: #3498db; */
    /* transform: scaley(2);
    transform: scalex(2); */
    /* transform: scale(2); */

    /* transform: scale(2, 0.5); */
    /* Twice as long, 5 times as tall */

    /* transform-origin: 0 0; */
    /* transform-origin: right top; */
    /* transform-origin: center; */

    background-color: #9b59b6;
    transform: rotate(45deg) scale(0.5);
    transform-origin: right bottom;
    color: black;
}