

body { 
    height: 100%;
    margin: 0;
    background-image: url("images/space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    transition: background-color .5s;
}

.cartStyle{
    padding: 35px;
}

.cart {
    font-size:30px;
    position: fixed;
    cursor:pointer;
    margin-left: -42px;
    margin-top: -10px;
    z-index: 2;
}

.cartButton {
    width: 40px;
    height: 40px;
}

.add {
    font-size:30px;
    position: relative;
    cursor:pointer;
    margin-left: 0px;

}

.addButton {
    width: 511px;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;

}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.navbutton {
    font-size:30px;
    position: fixed;
    cursor:pointer;
    margin-left: -35px;
    margin-top: -59px;
    z-index: 2
}

.active{

	background-color: rgba(255, 153, 153,.5)
;

}



.sidenav a {
    padding: 8px 8px 12px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(255,255,255,.7);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #fffcfc;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}